
<span [ngSwitch]="alerta">
    <p *ngSwitchCase="'info'">info</p>
    <p *ngSwitchCase="'success'">success</p>
    <p *ngSwitchDefault>danger</p>
</span>


<button (click)="alerta = 'success'" class="btn btn-primary mb-2">Cambiar</button>

<div [ngSwitch]="alerta">

  <div *ngSwitchCase="'primary'" class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
  </div>
  <div *ngSwitchCase="'secondary'" class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
  </div>
  <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
  <div *ngSwitchDefault class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div>

</div>
